/* 2.08 - Carousel or Slider - Start
================================================== */

// Pagination - Start
.swiper-pagination-bullets {
  display: flex;
  position: static;
  padding: 40px 0 30px;
  justify-content: center;

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    &.swiper-pagination-bullet-active {
      background-color: var(--bs-primary);
    }
  }
}
// Pagination - End

.swiper-pointer-events {
  padding-top: 2px;
}

/* 2.08 - Carousel or Slider - End
================================================== */
